<nav class="navbar navbar-default navbarcustom stickynavbar isvisibile " role="navigation"  style="width:20%">
 

  <!-- Collect the nav links, forms, and other content for toggling 
  <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">-->
    <ul class="nav nav-pills nav-stacked" id="top-nav">
      
      <li><a href="#section-1">
      			I am
  		   </a>

  	  </li>

  	  <li>
			<a href="#section-2">
				About Me

      			
  		   	</a>
  	  </li>
	  
	  	<li>
		  	<a href="#section-3">
		  		Contact
	  		</a>
	  	</li>

    </ul>
  <!-- </div> /.navbar-collapse -->
</nav>




<div id="maincontainer">
	<div class="block  sectiona1" id="section-1">
		
		
		<!--<div class="panel-content"> Just another brick in the wall </div> -->

		<!-- <div >
			<img src="assets/images/spot_light.png" width="400px" height="200px">
			<br>
			
			
		</div> --> 

		<div class="iam">
			<center>
				<h2 class="panel-title "> I am</h2>
			</center>
		</div>

		<div class="container gridwidth" > <!-- Holds the grid with my photo -->
			<div class="row">
					<div class="col-md-6" style="padding-top:20px;">
						<center>
							<img src="assets/images/profile2.png" >
						</center>
					</div>
					
					<div class="col-md-4"  style="padding-left:20px;">
						<div class="panel-content">
							<p>ASHWIN PUTHIGE</p>
						</div>
					</div>
			</div> <!-- close grid -->
		</div> <!-- close container -->
<!-- 
<div class="subtext">
	Just another <img src="assets/images/brick_wall2.jpg"> in the wall  :(
</div>

<hr> <!-- page end line - ->
-->
</div> <!-- Here ends first page -->


	<div class="block  sectiona2 " id="section-2" >
		<div class="iam">
			<center>
				<h2 class="panel-title "> About Me</h2>
			</center>
		</div>

		<div class="aboutme">
			<p> HELLO. <br> I am a Desi, a Hokie and a software developer. 
			I hold a Masters degree in Computer Science and have previously worked for HP and NetApp. I have accepted an offer from Cisco and will be joining them and moving to California soon.
			</p>
			<br><br>
			<p> I like web development and am looking to build my portfolio. So get in touch if you have a project in the works.
			</p>
		</div>
	</div><!-- End second page -->


	<div class="block  sectiona3" id="section-3" >
		<div class="iam">
			<center>
				<h2 class="panel-title "> Contact Me</h2>
			</center>
		</div>

		<div class="aboutme">
			Contact me through the social media or email me.
		</div>

		<br>
		<br>
		<div>
		<center>
			<a href="http://facebook.com/acharya.ash"><img src="assets/images/facebook.png"/></a>
			<a href="https://plus.google.com/+ashwinacharyaputhige"><img src="assets/images/google-plus.png"/></a>
			<a href="http://www.linkedin.com/in/ashwinputhige/"><img src="assets/images/linkedin.png"/></a>
			<a href="https://twitter.com/ashwin_puthige"><img src="assets/images/twitter.png"/></a>
			<a href="mailto:acharya.ash@gmail.com"><img src="assets/images/email.png"/></a>
		</center>
		</div>
	</div><!-- End third page -->



	<div class="block" id="section-4" style="position:absolute; top:300%;left:15%;">
		
		
	<div>Test</div>

	</div><!-- End fourth and dummy page -->

	
</div>