body {
	color: #222;
	font: 12px/20px Helvetica, Arial, sans-serif;
}
p,
ul {
	margin: 0;
	padding: 0;
}
p {
	margin-bottom: 20px;
}

#nav {
	background: #000;
	left: 0;
	list-style: none;
	overflow: hidden;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
}
/**
#nav li {
	display: inline-block;
}
#nav a {
	color: #fff;
	display: block;
	font-size: 11px;
	padding: 5px 10px;
	text-decoration: none;
	text-transform: uppercase;
}
#nav a:hover {
	color: #dedede;
}
#nav .current a {
	background: #fff;
	color: #000;
}
.current {
	background: red;
}

.section {
	border-bottom: 5px solid #ccc;
	padding: 20px;
}


.section p:last-child {
	margin-bottom: 0;
} */

body {
	background : #292929;
	/*color: #d41010;*/
}

#container {
	margin: 0 auto;
	width: 800px;
}

a{
	padding:0px !important;
	height: 60px;
	color: #7a7a7a;
}

.row {
	
	
}

.addborders{
	border:1px solid yellow;
}

.navbarcustom {
	width:150px;
	margin-left: 20px;
	padding:0px;
	border-radius: 0px;
	background: black;
}

.block {
	padding:0px;
	margin-left: 100px;
	right:0%;
	
}

.stickynavbar {
  position: sticky;
  top: 10px; /* When the element reaches top: 10px, it becomes fixed. */
  z-index: 100;
}

.navbar-default {
    background: none;
    text-align: right;
    font-size: 50px;
    height: auto;
    width: 270px;
    border:none;
    margin-top: 20px;
    
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffff00;
    /*background-color: #428bca;*/

    background:none;
    font-weight: 600;
    }

.nav-pills >  li > a:hover, .nav-pills > li.active > a:focus {
    color: #7a7a7a;
    background-color: #428bca;
    
    background:none;
    
    font-weight: 600;
    }


/**
* Style for menu items in the nav bar
*/

.menu-item {
	margin:0px;
	height:80px;
	width:150px;
	margin-top: 4px;
	text-align: right;
	border-style: none;
}

.menu-item-odd{
	background:yellow;
	color:red;
}
/*#eae938*/
.menu-item-even{
	background:red;
	color:yellow;
}

.menu-item-text-odd {
	position:absolute;
	bottom: 10px;
	right: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

.menu-item-text-even {
	position:absolute;
	bottom: 10px;
	right: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

/**
* Style for the page title.
*/

.panel-title {
	font-family: 'Open Sans', sans-serif;
	color:#7a7a7a;
	font-size: 100px;
	line-height:100px;
}

.textcenter{
	align: center;
}
.panel-content{
	font-family: 'Open Sans', sans-serif;
	color:white;
	font-size: 100px;
	line-height:100px;
	padding-top: 30px;

}


/**
For the centered text in first block
*/
.iam {
	padding-bottom: 30px;
}

.subtext{
	color:#7a7a7a;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
}

/**
Some style for the about me text
*/

.aboutme{
	padding-left: 50px;
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 30px;
	line-height: 40px;
}
/**
border-right:200px solid red;
 	//border-top:100px solid transparent;
 	//border-bottom:100px solid transparent; */

.lightsource {
    
 	
 	background-image: url(images/spotlight.png);
 	
}


.sectiona1 {
	position:absolute;
	top:0%;
	left:15%;
}
.sectiona2 {
	position:absolute;
	top:100%;
	left:15%;
}
.sectiona3 {
	position:absolute;
	top:200%;
	left:15%;
}
.isvisibile {
	display: block;
}
.gridwidth {
	width: 70%;
}


@media only screen and (max-device-width: 480px) {
	.sectiona1 {
		
		position:static;
		
		
	}
	.sectiona2 {
		position:relative;
		/*top:100%;*/
		left:0%;
	}
	.sectiona3 {
		position:relative;
		/*top:300%;*/
		left:0%;
	}

	.isvisibile {
		display: none;
	}
	.gridwidth {
		width: 100%;
	}
	.panel-content {
		font-size: 70px;
		line-height:70px;		
	}
	.block {
		margin-left: 0px;
		
	}
	.panel-title {
		font-size: 70px;
		line-height:70px;
	}
}