.section1 {
	/*position:absolute;
	top:0%;
	left:15%;*/
}
.section2 {
	position:relative;
	/*top:100%;
	left:15%;*/
}
.section3 {
	position:relative;
	/*top:300%;
	left:15%;*/
}

.visibility {
	display: none;
}