<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>



	<!-- BOOTSTRAP -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- small screens 
  <link rel='stylesheet' href='mobile-style.css' media='only screen and (max-width: 500px)'> -->

  <!-- iphone dont zoom tag -->
  <meta content="width=device-width" />



  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
